[Unit]
Requires=network-online.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/opt/ddns.sh
Type=OneShot

[Install]
WantedBy=multi-user.target
